<div class="container-fluid change-password-container">
    <div class="row vh-100">
        <div class="col-6">
            <div class="row pb-3">
                <span class="back-icon-span" (click)="goBack()">
                    <mat-icon>arrow_back</mat-icon>
                </span>
            </div>
            <div class="row logo-container">
                <div class="col-5 logo-blur-left"></div>
                <div class="col-2 logo-blur-middle"></div>
                <div class="col-5 logo-blur-right"></div>
                <span class="logo-text">PICASSO</span>
            </div>

            <div class="row">
                <span class="change-password-title">Đổi mật khẩu</span>
            </div>

            <div class="row">
                <form class="change-password-form" [formGroup]="requestChangePasswordForm">
                    <span class="input-label mb-2">Mật khẩu cũ</span><br>
                    <div class="password-input-container mt-1">
                        <input class="password-input form-control" formControlName="currentPasswordInput"
                            [type]="passwordVisible ? 'password' : 'text'" placeholder="Nhập mật khẩu cũ">
                        <mat-icon class="icon-eye-fp password-input-icon" (click)="togglePasswordVisibility()">{{
                            passwordVisible ? 'visibility_off' : 'visibility' }}></mat-icon>
                    </div>

                    <div class="mt-2 d-flex pr-0" style="text-align: right;"
                        *ngIf="currentPasswordInput?.dirty || currentPasswordInput?.touched">
                        <div class="text-error" style="color: red"
                            *ngIf="requestChangePasswordForm.get('currentPasswordInput')?.hasError('required')">
                            Vui lòng nhập mật khẩu cũ!
                        </div>
                    </div>
                    <div class="d-flex pr-0" style="text-align: right;">
                        <div class="text-error" style="color: red"
                            *ngIf="requestChangePasswordForm.get('currentPasswordInput')?.hasError('requiredOnSubmit')">
                            Vui lòng nhập mật khẩu cũ!
                        </div>
                        <div class="text-error" style="color: red"
                            *ngIf="requestChangePasswordForm.get('currentPasswordInput')?.hasError('currentPasswordNotTrue')">
                            Mật khẩu hiện tại bạn nhập không chính xác!
                        </div>
                    </div>

                    <span class="input-label mb-2">Mật khẩu mới</span><br>
                    <div class="password-input-container mt-1">
                        <input class="password-input form-control" [type]="passwordVisible1 ? 'password' : 'text'"
                            formControlName="newPasswordInput" placeholder="Nhập mật khẩu mới">
                        <mat-icon class="icon-eye-fp password-input-icon" (click)="togglePasswordVisibility1()">{{
                            passwordVisible1 ? 'visibility_off' : 'visibility' }}></mat-icon>
                    </div>

                    <div class="mt-2 d-flex pr-0" style="text-align: right;"
                        *ngIf="newPasswordInput?.dirty || newPasswordInput?.touched">

                        <div class="text-error" style="color: red"
                            *ngIf="requestChangePasswordForm.get('newPasswordInput')?.hasError('required')">
                            Vui lòng nhập mật khẩu mới!
                        </div>
                        <div class="text-error" style="color: red"
                            *ngIf="requestChangePasswordForm.get('newPasswordInput')?.hasError('pattern')">
                            Mật khẩu phải có ít nhất 8 ký tự, bao gồm chữ thường, chữ hoa, ký tự số, và ký tự đặc biệt.
                            Không bao gồm khoảng trắng!
                        </div>
                    </div>
                    <div class="d-flex pr-0" style="text-align: right;">
                        <div class="text-error" style="color: red"
                            *ngIf="requestChangePasswordForm.get('newPasswordInput')?.hasError('requiredOnSubmit')">
                            Vui lòng nhập mật khẩu mới!
                        </div>

                        <div class="text-error" style="color: red"
                            *ngIf="requestChangePasswordForm.get('newPasswordInput')?.hasError('passwordDuplicate')">
                            Mật khẩu mới phải khác mật khẩu cũ
                        </div>

                    </div>
                    <span class="input-label mb-2">Xác nhận mật khẩu mới</span><br>
                    <div class="password-input-container mt-1">
                        <input class="password-input form-control" [type]="passwordVisible2 ? 'password' : 'text'"
                            formControlName="reNewPasswordInput" placeholder="Nhập lại mật khẩu mới">
                        <mat-icon class="icon-eye-fp password-input-icon" (click)="togglePasswordVisibility2()">{{
                            passwordVisible2 ? 'visibility_off' : 'visibility' }}></mat-icon>
                    </div>
                    <div class="mt-2 d-flex pr-0" style="text-align: right;"
                        *ngIf="reNewPasswordInput?.dirty || reNewPasswordInput?.touched">

                        <div class="text-error" style="color: red"
                            *ngIf="requestChangePasswordForm.get('reNewPasswordInput')?.hasError('required')">
                            Vui lòng nhập lại mật khẩu mới!
                        </div>

                        <div class="text-error" style="color: red"
                            *ngIf="requestChangePasswordForm.get('reNewPasswordInput')?.hasError('passwordDoNotMatch')">
                            Vui lòng nhập lại mật khẩu khớp với mật khẩu mới!
                        </div>

                    </div>
                    <div class="d-flex pr-0" style="text-align: right;">

                        <div class="text-error" style="color: red"
                            *ngIf="requestChangePasswordForm.get('reNewPasswordInput')?.hasError('requiredOnSubmit')">
                            Vui lòng nhập lại mật khẩu mới!
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn-submit" value="Xác nhận" (click)="submitChangePassword()">
                    <div class="btn-submit-blur"></div>
                </form>
            </div>


        </div>
        <div class="col-6 m-0 p-0 bg-blue">
            <img src="../../../../../assets/logo.jpg" class="img-logo">
        </div>
    </div>
</div>

<div class="loading-overlay" *ngIf="loading">
    <mat-spinner color="primary" diameter="50"></mat-spinner>
</div>