<div class="container-fluid otp-container">
    <div class="row vh-100">
        <div class="row m-0 p-0 h-13 logo-image-container">
            <img class="logo-image" src="../../../../../assets/images/yen-logo.png">
        </div>
        <div class="row h-87 m-0 p-0 bg-sys-background content-container">
            <div class="row title-container h-90 m-0 p-0">
                <div class="col-2"></div>
                <div class="col-3 logo-blur-left "></div>
                <div class="col-2 logo-blur-middle "></div>
                <div class="col-3 logo-blur-right "></div>
                <div class="col-2"></div>
                <div class="row input-otp-container m-0 p-0" [formGroup]="requestNewPasswordForm">
                    <span class="forgot-password-otp-title mt-minus-3">Đổi mật khẩu</span>
                    <br>

                    <div class="d-flex pl-32">
                        <span class="input-label mb-2 mt-5 fs-24">Mật khẩu mới</span>
                    </div>

                    <div class="input-container">

                        <input [type]="passwordVisible ? 'password' : 'text'" formControlName="newPasswordInput"
                            class="input-new-password mt-1 mb-1" placeholder="Nhập mật khẩu mới" />
                        <mat-icon class="icon-eye-fp" (click)="togglePasswordVisibility()">{{ passwordVisible ?
                            'visibility_off' : 'visibility' }}</mat-icon>

                    </div>
                    <div class="mt-2 d-flex pr-32" style="text-align: right;"
                        *ngIf="newPasswordInput?.dirty || newPasswordInput?.touched">
                        <!-- <div class="text-error" style="color: red" *ngIf="newPasswordInput?.hasError('required')">
                            Mật khẩu cũ không được để trống
                        </div> -->
                        <div class="text-error" style="color: red"
                            *ngIf="requestNewPasswordForm.get('newPasswordInput')?.hasError('required')">
                            Vui lòng nhập mật khẩu mới.
                        </div>
                        <div class="text-error" style="color: red"
                            *ngIf="requestNewPasswordForm.get('newPasswordInput')?.hasError('pattern')">
                            Mật khẩu phải có ít nhất 8 ký tự, bao gồm chữ hoa, chữ số, và ký tự đặc biệt. <br>Không bao
                            gồm khoảng trắng!
                        </div>

                    </div>


                    <div class="d-flex pl-32 mt-3">
                        <span class="input-label mb-2 fs-24">Nhập lại mật khẩu mới</span>
                    </div>
                    <div class="input-container ">
                        <input [type]="passwordVisible2 ? 'password' : 'text'" class=" input-new-password mt-1 "
                            placeholder="Nhập lại mật khẩu mới " formControlName="reNewPasswordInput" />
                        <mat-icon class="icon-eye-fp" (click)="togglePasswordVisibility2()">{{ passwordVisible2 ?
                            'visibility_off' : 'visibility' }}</mat-icon>

                    </div>
                    <div class="mt-2 d-flex pr-32" style="text-align: right;"
                        *ngIf="reNewPasswordInput?.dirty || reNewPasswordInput?.touched">
                        <!-- <div class="text-error" style="color: red" *ngIf="newPasswordInput?.hasError('required')">
                                                Mật khẩu cũ không được để trống
                                            </div> -->
                        <div class="text-error" style="color: red"
                            *ngIf="requestNewPasswordForm.get('reNewPasswordInput')?.hasError('required')">
                            Vui lòng nhập lại mật khẩu mới.
                        </div>
                        <!-- <div class="text-error" style="color: red"
                            *ngIf="requestNewPasswordForm.get('reNewPasswordInput')?.hasError('newPassWordIsNull')">
                            Mật khẩu mới không được để trống!
                        </div> -->
                        <div class="text-error" style="color: red"
                            *ngIf="requestNewPasswordForm.get('reNewPasswordInput')?.hasError('passwordDoNotMatch')">
                            Vui lòng nhập lại mật khẩu khớp với mật khẩu mới!
                        </div>

                    </div>

                    <div class=" d-flex justify-content-center mt-5 ">

                        <button (click)=" submitNewPassword()" class=" btn-submit-otp submit-true ">Xác nhận</button>
                        <div class=" btn-summit-otp-gap "></div>
                        <button class=" btn-submit-otp submit-false ">Hủy</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>