<div class="container-fluid otp-container">
    <div class="row vh-100">
        <div class="row m-0 p-0 h-13 logo-image-container">
            <img class="logo-image" src="../../../../../assets/images/yen-logo.png">
        </div>
        <div class="row h-87 m-0 p-0 bg-sys-background content-container">
            <div class="row title-container h-90 m-0 p-0">
                <div class="col-1"></div>
                <div class="col-4 logo-blur-left "></div>
                <div class="col-2 logo-blur-middle "></div>
                <div class="col-4 logo-blur-right "></div>
                <div class="col-1"></div>
                <div class="row input-otp-container m-0 p-0" [formGroup]="requestSendOtpForm">
                    <span class="forgot-password-otp-title">Nhập OTP</span>

                    <span class="input-label mb-2 mt-5">Vui lòng nhập mã OTP có 6 chữ số vừa được gửi về mail của
                        bạn</span><br>

                    <!-- <input class="input-otp mt-1" type="number" name="otp" placeholder="Nhập mã OTP"> -->

                    <input formControlName="otpInput" type="number" class="input-otp mt-1" placeholder="Nhập mã OTP"
                        (keypress)="preventNonNumeric($event)" (input)="validateInput($event)" maxlength="6"
                        max="999999" min="0" />

                    <div class="d-flex justify-content-center mt-5">

                        <button (click)="submitOTP()" class="btn-submit-otp submit-true">Xác nhận</button>
                        <div class="btn-summit-otp-gap"></div>
                        <button class="btn-submit-otp submit-false">Hủy</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- <app-otp-timer #otpTimer [duration]="600"></app-otp-timer> -->


</div>