<div class="container-fluid">
    <app-customer-navbar></app-customer-navbar>
    <div class="row body-container">
        <!-- Navbar - Start -->
        <!-- <div class="col-1 p-0"> -->
        <!-- <app-saler-sidebar></app-saler-sidebar> -->
        <!-- </div> -->
        <!-- Navbar - End -->

        <!-- Main Content - Start -->
        <!-- <div class="col-11"> -->
        <router-outlet></router-outlet>
        <!-- </div> -->
        <!-- Main Content - End -->
    </div>
    <app-customer-footer></app-customer-footer>
</div>