/* @font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url('../../../../../assets/fonts/LeagueSpartan-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan-Light';
    src: url('../../../../../assets/fonts/LeagueSpartan-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

.forgot-password-container {
    /* font-family: 'LeagueSpartan-Bold', sans-serif; */
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.img-logo {
    width: 100%;
    height: 100vh;
}

.bg-red {
    background-color: red;
}

.bg-blue {
    background-color: blue;
}

.bg-red-basic {
    background: #A31D1D;
}

.logo-text {
    color: #A31D1D;
    text-align: center;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    font-family: sans-serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.logo-blur-left {
    height: 250px;
    border-radius: 300px;
    background: #FEF9E1;
    filter: blur(30px);
}

.logo-blur-middle {
    height: 250px;
    border-radius: 300px;
    background: #FFFFFF4D;
    filter: blur(75px);
}

.logo-blur-right {
    height: 250px;
    border-radius: 300px;
    background: #A31D1D80;
    filter: blur(75px);
}

.logo-container {
    position: relative;
}

.logo-text {
    position: absolute;
    top: 80px;
    right: 0;
}

.forgot-password-title {
    font-family: 'LeagueSpartan-Bold';
    color: #A31D1D;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    line-height: normal;
    z-index: 1;
}

.input-label {
    color: rgba(0, 0, 0, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.forgot-password-form {
    padding: 10% 20%;
}

.forgot-password-form input {
    width: 100%;
}

.btn-submit {
    color: #FFF;
    border-radius: 10px;
    background: #A31D1D;
    border: none;
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
}

.btn-submit:hover {
    /* background-color: var(--secondary-color);
    color: #930C0F;
    box-shadow: 1px 2px 13px rgba(0, 0, 0, 0.5); */
    /* border: 2px solid #930C0F; */
    opacity: 0.7;
}

.btn-submit:hover+.btn-submit-blur {
    background: rgba(244, 235, 228, 0.35);
    filter: blur(15px);
}

.btn-submit-blur {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(15px);
}

.back-icon-span {
    color: #A31D1D;
    display: flex;
    gap: 15px;
    margin-left: 5%;
    position: absolute;
    bottom: 30px;
}

.back-icon-span :hover {
    cursor: pointer;
    color: #6D2323;
}

.back-icon-span mat-icon {
    font-size: 40px;
    margin: auto 0;
    width: 40px;
    height: 40px;
}

.back-btn {
    font-size: 24px;
    margin: auto 0;
    font-weight: bold;
}

.email-input {
    padding: 10px;
    padding-left: 40px;
    font-weight: 100;
    /* font-family: 'LeagueSpartan-Light', sans-serif; */
    border: solid 1px #6D232399;
}

.email-input::placeholder {
    color: lightgray;
    font-weight: 100;
    /* font-family: 'LeagueSpartan-Light', sans-serif; */
}

.email-input-container {
    position: relative;
}

.email-input-icon {
    position: absolute;
    top: 23%;
    /* bottom: 10px; */
    left: 2%;
    color: #00000080;
}

.loading-overlay {
    position: fixed;
    /* Overlay covers the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    z-index: 1050;
    /* Ensure it appears above all other content */
}

.mat-spinner {
    width: 50px !important;
    height: 50px !important;
}