<div class="container-fluid forgot-password-container">
    <div class="row vh-100">
        <div class="col-6">
            <div class="row logo-container">
                <div class="col-5 logo-blur-left"></div>
                <div class="col-2 logo-blur-middle"></div>
                <div class="col-5 logo-blur-right"></div>
                <span class="logo-text">PICASSO</span>
            </div>

            <div class="row">
                <span class="forgot-password-title">Quên mật khẩu?</span>
            </div>

            <div class="row">
                <div class="forgot-password-form" [formGroup]="requestForgotPasswordSendOtp">
                    <span class="input-label mb-2">Nhập email phía dưới để lấy lại mật khẩu</span><br>
                    <div class="email-input-container mt-1">
                        <input formControlName="email" class="email-input form-control" type="email"
                            placeholder="Nhập địa chỉ email">
                        <mat-icon class="email-input-icon">email</mat-icon>

                    </div>
                    <div class="mt-2" *ngIf="email?.dirty || email?.touched || isNotInputEmail">
                        <div class="text-error" *ngIf="email?.hasError('required')">Vui lòng nhập vào Email của bạn
                        </div>
                        <div class="text-error" *ngIf="email?.hasError('email')">
                            Vui lòng nhập vào Email hợp lệ
                        </div>
                    </div>
                    <br>
                    <input type="submit" class="btn-submit" value="Xác nhận" (click)="submitSendMailForgotPassword()">
                    <div class="btn-submit-blur"></div>
                </div>
            </div>

            <div class="row pb-3">
                <span class="back-icon-span" (click)="backToLogin()">
                    <mat-icon>arrow_back</mat-icon>
                    <span class="back-btn">Quay lại đăng nhập</span>
                </span>
            </div>
        </div>

        <div class="col-6 m-0 p-0">
            <img src="../../../../../assets/logo.jpg" class="img-logo">

        </div>



    </div>
</div>

<div class="loading-overlay" *ngIf="loading">
    <mat-spinner color="primary" diameter="50"></mat-spinner>
</div>